<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>canadapost</name>
            <displayName><![CDATA[Calcul des tarifs Canada Post]]></displayName>
            <version><![CDATA[1.1]]></version>
            <description><![CDATA[Offrez &agrave; vos clients diff&eacute;rentes m&eacute;thodes de livraison avec Canada Post]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[shipping_logistics]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries>ca</limited_countries>
        </module>