<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>autoupgrade</name>
            <displayName><![CDATA[Mise &agrave; jour en 1 clic]]></displayName>
            <version><![CDATA[0.9.4]]></version>
            <description><![CDATA[Fournit une m&eacute;thode automatis&eacute;e pour mettre &agrave; jour votre boutique vers la derni&egrave;re version de PrestaShop]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>